<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ErrorCode_Msg_9007</key>
	<string>当前人非任务执行人</string>
	<key>ErrorCode_Msg_100</key>
	<string>网络不给力，请检查网络设置</string>
	<key>ErrorCode_Msg_101</key>
	<string>服务器错误</string>
	<key>ErrorCode_Msg_102</key>
	<string>数据为空</string>
	<key>ErrorCode_Msg_103</key>
	<string>请求数据失败</string>
	<key>ErrorCode_Msg_0001</key>
	<string>服务器异常</string>
	<key>ErrorCode_Msg_0002</key>
	<string>缺少关键业务参数</string>
	<key>ErrorCode_Msg_0003</key>
	<string>没有权限</string>
	<key>ErrorCode_Msg_0008</key>
	<string>下载最新版本才能继续使用</string>
	<key>ErrorCode_Msg_1001</key>
	<string>不支持该类型数据</string>
	<key>ErrorCode_Msg_1002</key>
	<string>用户不存在</string>
	<key>ErrorCode_Msg_1003</key>
	<string>好友不存在</string>
	<key>ErrorCode_Msg_1004</key>
	<string>验证码错误，请重试</string>
	<key>ErrorCode_Msg_1005</key>
	<string>密码错误</string>
	<key>ErrorCode_Msg_1006</key>
	<string>账户登录信息已过期，请重新登录</string>
	<key>ErrorCode_Msg_1007</key>
	<string>账户登录信息已过期，请重新登录</string>
	<key>ErrorCode_Msg_1008</key>
	<string>公司不存在</string>
	<key>ErrorCode_Msg_1009</key>
	<string>不支持的类型</string>
	<key>ErrorCode_Msg_1010</key>
	<string>部门不存在</string>
	<key>ErrorCode_Msg_1011</key>
	<string>手机号已经存在</string>
	<key>ErrorCode_Msg_1012</key>
	<string>非法的状态</string>
	<key>ErrorCode_Msg_1013</key>
	<string>无权限</string>
	<key>ErrorCode_Msg_1014</key>
	<string>公司详情已经存在</string>
	<key>ErrorCode_Msg_1015</key>
	<string>无效的手机号码</string>
	<key>ErrorCode_Msg_1016</key>
	<string>重复发送过验证码</string>
	<key>ErrorCode_Msg_1017</key>
	<string>没有绑定手机号</string>
	<key>ErrorCode_Msg_1018</key>
	<string>不能转移到子部门</string>
	<key>ErrorCode_Msg_1019</key>
	<string>不能删除员工</string>
	<key>ErrorCode_Msg_1020</key>
	<string>不能删除该部门</string>
	<key>ErrorCode_Msg_1031</key>
	<string>30天内不允许在更换</string>
	<key>ErrorCode_Msg_3001</key>
	<string>不能删除别人的评论</string>
	<key>ErrorCode_Msg_3002</key>
	<string>有人回复您，不能删除</string>
	<key>ErrorCode_Msg_3003</key>
	<string>该动态已被删除</string>
	<key>ErrorCode_Msg_3004</key>
	<string>动态发布失败</string>
	<key>ErrorCode_Msg_3005</key>
	<string>不是本人操作</string>
	<key>ErrorCode_Msg_3006</key>
	<string>已经被标注为星标，不能删除</string>
	<key>ErrorCode_Msg_3007</key>
	<string>已经赞过该动态</string>
	<key>ErrorCode_Msg_3008</key>
	<string>还没有赞过该动态</string>
	<key>ErrorCode_Msg_3009</key>
	<string>已经收藏过该动态</string>
	<key>ErrorCode_Msg_3010</key>
	<string>还没有收藏过该动态</string>
	<key>ErrorCode_Msg_3011</key>
	<string>已经关注过该动态</string>
	<key>ErrorCode_Msg_3012</key>
	<string>还没有关注过该动态</string>
	<key>ErrorCode_Msg_3024</key>
	<string>该动态已发布，您可以撤回到草稿箱后再发布</string>
	<key>ErrorCode_Msg_3025</key>
	<string>缺少唯一性验证</string>
	<key>ErrorCode_Msg_4001</key>
	<string>非法的数据</string>
	<key>ErrorCode_Msg_4002</key>
	<string>不支持的操作</string>
	<key>ErrorCode_Msg_4003</key>
	<string>未实现</string>
	<key>ErrorCode_Msg_4008</key>
	<string>数据版本不一致</string>
	<key>ErrorCode_Msg_6001</key>
	<string>不支持消息类型</string>
	<key>ErrorCode_Msg_6002</key>
	<string>注册用户重复</string>
	<key>ErrorCode_Msg_6003</key>
	<string>注册环信时用户密码不能为空</string>
	<key>ErrorCode_Msg_6004</key>
	<string>超过群组最大限制</string>
	<key>ErrorCode_Msg_6011</key>
	<string>不支持群类型</string>
	<key>ErrorCode_Msg_6012</key>
	<string>群组创建环信异常</string>
	<key>ErrorCode_Msg_6013</key>
	<string>群组管理员超过最大数</string>
	<key>ErrorCode_Msg_6014</key>
	<string>群组添加人员异常</string>
	<key>ErrorCode_Msg_6015</key>
	<string>群组删除成员异常</string>
	<key>ErrorCode_Msg_6016</key>
	<string>事事成员重复申请</string>
	<key>ErrorCode_Msg_6017</key>
	<string>用户已经是群组成员了</string>
	<key>ErrorCode_Msg_6021</key>
	<string>不支持群类型</string>
	<key>ErrorCode_Msg_6031</key>
	<string>不支持群类型</string>
	<key>ErrorCode_Msg_6032</key>
	<string>更新公司通知的公司信息时,参数异常</string>
	<key>ErrorCode_Msg_6040</key>
	<string>请添加好友，再发送消息</string>
	<key>ErrorCode_Msg_6041</key>
	<string>请添加好友，再发送消息</string>
	<key>ErrorCode_Msg_7001</key>
	<string>不支持权限类型</string>
	<key>ErrorCode_Msg_7002</key>
	<string>事事转移创建者只能是创建者本人</string>
	<key>ErrorCode_Msg_7003</key>
	<string>更新事事公司信息时,参数异常</string>
	<key>ErrorCode_Msg_7004</key>
	<string>更新事事部门信息时,参数异常</string>
	<key>ErrorCode_Msg_7005</key>
	<string>更新事事用户信息时,参数异常</string>
	<key>ErrorCode_Msg_7006</key>
	<string>事事名称重复</string>
	<key>ErrorCode_Msg_7007</key>
	<string>参数异常</string>
	<key>ErrorCode_Msg_7011</key>
	<string>事事类别合并异常,只能在同级合并</string>
	<key>ErrorCode_Msg_7012</key>
	<string>事事类别不能删除二级类别</string>
	<key>ErrorCode_Msg_7013</key>
	<string>事事一级分类有子分类不能删除</string>
	<key>ErrorCode_Msg_7014</key>
	<string>事事分类重复或分组重复</string>
	<key>ErrorCode_Msg_7051</key>
	<string>事事类别不能删除二级类别</string>
	<key>ErrorCode_Msg_7052</key>
	<string>用户已经是事事成员了</string>
	<key>ErrorCode_Msg_7053</key>
	<string>事事成员重复申请</string>
	<key>ErrorCode_Msg_7054</key>
	<string>事事成员删除时异常</string>
	<key>ErrorCode_Msg_7055</key>
	<string>事事创建者退出错误</string>
	<key>ErrorCode_Msg_7061</key>
	<string>用户已经在公司下有默认的快捷查询</string>
	<key>ErrorCode_Msg_7071</key>
	<string>用户不能重复关注事事</string>
	<key>ErrorCode_Msg_8001</key>
	<string>公司未设置考勤</string>
	<key>ErrorCode_Msg_8002</key>
	<string>用户未设置考勤</string>
	<key>ErrorCode_Msg_8003</key>
	<string>设置的考勤未启用</string>
	<key>ErrorCode_Msg_8004</key>
	<string>任务工作表记录错误</string>
	<key>ErrorCode_Msg_9001</key>
	<string>工作流任务处理错误</string>
	<key>ErrorCode_Msg_9002</key>
	<string>流程实例执行错误</string>
	<key>ErrorCode_Msg_9003</key>
	<string>流程实例执行错误</string>
	<key>ErrorCode_Msg_10000</key>
	<string>预警任务异常,转发预警任务时,缺少转发人</string>
	<key>ErrorCode_Msg_10003</key>
	<string>已有该预警任务，不需要再次转发</string>
</dict>
</plist>
